@model  Enovel.Canacol.FacturacionElectronica.Models.tblUsuariosProveedor

@{
    Layout = null;
    ViewBag.Title = "Facturación Electrónica";
    @Styles.Render("~/Content/estilosGenerales.css");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facturación Electronica</title>
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>

<body>
    <h2>Inicio Proveedor</h2>

    <div class="sidenav">
        <div class="login-main-text">
            <h2>Facturación electrónica<br> Ingreso al sistema</h2>
            <p></p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Tipo de usuario</label>
                        <div class="user-type">
                            <label>
                                @Html.RadioButtonFor(model => model.TipoUsuario, "Proveedor", true)
                                Proveedor
                            </label>
                            <div>
                                <label>
                                    @Html.RadioButtonFor(model => model.TipoUsuario, "Funcionario", true)
                                    Funcionario
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioNit)
                        @Html.EditorFor(model => model.UsuarioNit, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "Ingrese su usuario" } })
                        @Html.ValidationMessageFor(model => model.UsuarioNit, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "Ingrese su password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="button" id="btnInscribirse" name="btnInscribirse" class="btn btn-secondary" value="inscribirse" onclick="location.href='@Url.Action("Inscripcion", "Inscripcion")'" />
                        <input id="btnLogin" name="btnLogin" type="submit" class="btn btn-black" value="Ingresar">
                    </div>

                    <div class="error-login">
                        <label class="text-danger">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                    </div>
                }
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("input[name='TipoUsuario']").on("change", function () {
            if ($(this).val() == "Proveedor") {
                $("#btnInscribirse").show();
            }
            if ($(this).val() == "Funcionario") {
                $("#btnInscribirse").hide();
            }
        });
    </script>
</body>


</html>


